# Logs
logs
*.log
npm-debug.log*

# Node
node_modules/

# Build
dist/
dist-ssr/
build/

# Local env files
.env
.env.local
*.local

# Editor
.vscode/
.idea/
.DS_Store

# Backend Storage (DO NOT COMMIT THE DATABASE OR BUILDS!)
storage/
backend/storage/
backend/prisma/dev.db
*.apk
*.aab
*.keystore
*.jks
